@charset "UTF-8";

.service-section {
  background: linear-gradient(#ffffff, #00a9eb);
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

/* サービスラインナップ写真のスタイル記述 */

.service-lineup {
  text-align: center;
}

.service-lineup img {
  /* 北原２コメントアウト
  width: 1100px; */

  /* 北原２追加 */
  width: 90vw;
}

.service-img-section {
  text-align: center;
}

.service-img-section img {
  width: 500px;
  margin: 30px;
  border-radius: 20px;
}

#main,#related {
  padding-top: 30px;
}

.service-example-section {
  background: rgba(224, 224, 224, 0.5);
  overflow: hidden;
  position: relative;
}

.service-lineup-sp img {
  display: none;
}

/* ------------------------------
   * 以降スマホ用CSS記載
   * ------------------------------ */

/* 画面サイズはiPhoen13 Pro Maxの428pxを起点 */

@media screen and (max-width: 427px) {
  .service-lineup {
    display: none;
  }
  #main,#related {
    padding-top: 0;
  }
  #main > .content-heading, #related > .content-heading {
    padding-bottom: 0;
  }
  #main {
    margin-bottom: 90px;
  }
  .service-lineup-sp {
    text-align: center;
  }
  .service-lineup-sp img {
    display: inline-block;
    height: auto;
    width: 80%;
  }
  .service-img-section{
    display: none;
  }
  .service-example-section {
    margin-top: -90px;
  }
}
