@charset "UTF-8";
/* CSS Document */     

/* 共通するスタイルをまとめるCSS
 * 記載するものは共通処理のみとし、
 * 各ページ独自の処理は書き込まない事
 */
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/** 主要タグの初期設定 */
/**, *:before, *:after {*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*}*/
html{
	/*	16px*62.5% = 10px*/
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
  margin:0;
	font-family: 'Noto Sans JP', 'Roboto',  sans-serif;
	font-weight: 400;
	font-size: 1.6rem; /* 規定フォントサイズを16pxに設定 */
	letter-spacing: 0.1em;
    line-height: 1.6;
}
h2{
    font-weight: 500;
}
html, body{
    height: 100%;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
li{
    list-style:none;
}
a{
	color: #ffffff;
	text-decoration: none;
  height: 0;
	cursor: pointer;
}
a:hover{
	opacity: 0.7;
}
img{
    vertical-align: bottom;
    width: 100%;
}
p {
	margin: 0;
}
.wrapper-button {
	text-align: center;
}
.wrapper-button :hover{
  opacity: 0.7;
  cursor: pointer;
}
button {
  border: none;
  background-color: #00a4ea;
  border-radius: 50px;
  margin: 100px 0 100px 0;
  width: 300px;
  height: 60px;
  color: white;
  font-size: large;
}

/** スマホ用改行クラス */
.sp-indention-medium{
  display: none;
}
.sp-indention-smarl{
  display: none;
}

/** ヘッダー */

#logo {
  display: inline-block;
  width:130px;
}
.global_menu ul{
  text-align: center;
  margin-top: 0;
  padding:0;
}
.global_menu li {
  display: inline-block;
  vertical-align:center;
  -webkit-animation-name: fadeleft;
          animation-name: fadeleft;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.global_menu li.astop{
   -webkit-animation-name: none;
           animation-name: none;
   -webkit-animation-duration: 0s;
           animation-duration: 0s;
  
}
.global_menu a {
  color: black;
  height: auto;
  display: inline-block;
  padding: 10px 30px;
}
.global_menu ul li:first-child a{
  padding: 0;
}
.global_menu p {
  display: inline-block;
  margin:0;
}

.menu:hover:not(:first-child) > a {
  background: #4FB7E4;
}
/* .menu:after {
  content: '|';
} */

.child_menu > li {
  animation:none;  
}
.child_menu > li > a {
  /* 子項目のスタイル */
  font-size: 0.9em;
}
.child_menu > li > a:hover {
  /* 子項目のスタイル（ホバー時） */
  background: #4FB7E4;
}
.child_menu {
  /* 下層メニューのスタイル */
  width: 100%;
  position: absolute;
  top: 100%;
  /* 親項目の直下に配置 */
  left: 0;
  color: #333;
  /* 文字色 */
  background: #4FB7E4;
  /* 背景色 */
  visibility: hidden;
  /* 下層メニューを非表示 */
  z-index: 20;
  display: none;
}
ul.child_menu {
  padding: 30px;
}
.menu:hover .child_menu {
  /* 下層メニューのスタイル（親項目ホバー時） */
  visibility: visible;
  margin-top: 24px;
  /* 下層メニューを表示 */
}
.child_menu a:hover {
  color: #fff;
}

/*モバイルメニュー*/
.mobile-menu-icon{
  display:none;
}
.overlay{
  display:none;
}
#mobile-logo{
 display: none; 
}

/** fadein アニメ */
.swiper :hover{
  cursor: default;
}
.swiper {
  overflow: visible !important;
  position: relative;
}
.swiper-slide {
  height:auto;
  overflow: hidden;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -webkit-transition: -webkit-transform 4s linear;
  transition: -webkit-transform 4s linear;
  transition: transform 4s linear;
  transition: transform 4s linear, -webkit-transform 4s linear;
}
.swiper .swiper-slide-active > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/** text anime */
.animate-title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  opacity: 1;
  z-index: 2;
}
.animate-title .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animate-title .char:nth-child(1) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.animate-title .char:nth-child(2) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.animate-title .char:nth-child(3) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.animate-title .char:nth-child(4) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.animate-title .char:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.animate-title .char:nth-child(6) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
.animate-title .char:nth-child(7) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}
.animate-title .char:nth-child(8) {
  -webkit-animation-delay: 0.64s;
          animation-delay: 0.64s;
}
.animate-title .char:nth-child(9) {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}
.animate-title .char:nth-child(10) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.animate-title .char:nth-child(11) {
  -webkit-animation-delay: 0.88s;
          animation-delay: 0.88s;
}
.animate-title .char:nth-child(12) {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}
.animate-title .char:nth-child(13) {
  -webkit-animation-delay: 1.04s;
          animation-delay: 1.04s;
}
.animate-title .char:nth-child(14) {
  -webkit-animation-delay: 1.12s;
          animation-delay: 1.12s;
}
.animate-title .char:nth-child(15) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.animate-title .char:nth-child(16) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}
.animate-title .char:nth-child(17) {
  -webkit-animation-delay: 1.36s;
          animation-delay: 1.36s;
}
.animate-title .char:nth-child(18) {
  -webkit-animation-delay: 1.44s;
          animation-delay: 1.44s;
}
.animate-title .char:nth-child(19) {
  -webkit-animation-delay: 1.52s;
          animation-delay: 1.52s;
}
.animate-title .char:nth-child(20) {
  -webkit-animation-delay: 1.60s;
          animation-delay: 1.60s;
}

.pop {
  opacity: 0;
}
.pop.pon {
  -webkit-animation: pop-bounce;
          animation: pop-bounce;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.pop.pon:nth-child(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.pop.pon:nth-child(3) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}
.pop.pon:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.top-recluit-section {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.top-recluit-section img {
  display: block;
  width: 100%;
  height: auto;
}

/** 横から出てくるアニメ */

.clouds{
  position:relative;
  height: 100%;
}
.cloud{

  position: absolute;
  width: 200px;
  transition: transform .6s;
}
.cloud-top-30 {
  top:-30px;
}
.cloud-top10{
  top:10px;
}
.cloud-top20{
  top:20px;
}
.cloud-top60{
  top:60px;
}
.cloud-top70{
  top:70px;
}
.cloud-top80{
  top:80px;
}
.cloud-top150{
  top:150px;
}
.cloud-top160{
  top:160px;
}
.cloud-top200{
  top:200px;
}
.cloud-top250{
  top:250px;
}
.cloud-top280{
  top:280px;
}
.cloud-top330{
  top:330px;
}
.cloud-top340{
  top:340px;
}
.cloud-top500{
  top:500px;
}
.cloud-top700{
  top:700px;
}
.cloud-top770{
  top:770px;
}
.cloud-right-120{
  right: -120px;
}
.cloud-right-110{
  right: -110px;
}
.cloud-right-135{
  right:-135px;
}
.cloud-right-150{
  right:-150px;
}
.cloud-right-160{
  right:-160px;
}
.cloud-right-180{
  right:-180px;
}
.cloud-right-200{
  right:-200px;
}
.cloud-right-220{
  right:-220px;
}
.cloud-left-100{
  left:-100px;
}
.cloud-left-130{
  left:-130px;
}
.cloud-left-140{
  left:-140px;
}
.cloud-left-145{
  left:-145px;
}
.cloud-left-155{
  left:-155px;
}
.cloud-left-160{
  left:-160px;
}
.cloud-left-180{
  left:-180px;
}
.cloud-left-210{
  left:-210px;
}
.cloud-left-220{
  left:-220px;
}
.tform-lateX40-rotate15{
  transform: translateX(40px) rotate(15deg)
}
.tform-lateX50-rotate15{
  transform: translateX(50px) rotate(15deg)
}
.tform-lateX55-rotate15{
  transform: translateX(55px) rotate(15deg)
}
.tform-lateX60-rotate15{
  transform: translateX(60px) rotate(15deg)
}
.tform-lateX70-rotate15{
  transform: translateX(70px) rotate(15deg)
}
.tform-lateX90-rotate15{
  transform: translateX(90px) rotate(15deg)
}
.tform-lateX110-rotate15{
  transform: translateX(110px) rotate(15deg)
}
.tform-lateX-40-rotate15{
  transform: translateX(-40px) rotate(15deg)
}
.tform-lateX-50-rotate15{
  transform: translateX(-50px) rotate(15deg)
}
.tform-lateX-55-rotate15{
  transform: translateX(-55px) rotate(15deg)
}
.tform-lateX-60-rotate15{
  transform: translateX(-60px) rotate(15deg)
}
.tform-lateX-70-rotate15{
  transform: translateX(-70px) rotate(15deg)
}
.tform-lateX-80-rotate15{
  transform: translateX(-80px) rotate(15deg)
}
.tform-lateX-110-rotate15{
  transform: translateX(-110px) rotate(15deg)
}

.cloud.after{
  -webkit-transform: translate(0) rotate(15deg);
          transform: translate(0) rotate(15deg);
}


/** ページ内のコンテンツの共通設定 */
#container{
  overflow: hidden;
}

.contents{
	margin: 0 5%;
}

.inner-content{
	padding: 90px 0;
}

/*大小伸縮アニメ*/
.double-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.double-spinner > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #989BA1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-animation-name: sk-bounce;
          animation-name: sk-bounce;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.double-spinner > div:nth-child(2) {
  width: 80px;
  height: 80px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  background-color: #33BCEF;
  position: absolute;
  top: -35%;
  left: 25px;
  z-index: 0;
}

/** 見出しの設定 */
.content-heading{
	padding-bottom: 60px;
}
.content-heading >div{
	display: block;
	text-align: center;
}
.heading >span {
	font-weight: 700;
	font-size: 40px;
	position: relative;
	z-index: 0;
}
.heading >h2 {
	font-weight: 700;
	font-size: 40px;
	position: relative;
	z-index: 0;
}
.headig-text >span {
	font-size: 20px;
	 position: relative;
  z-index: 0;
}
/* .under-heading{
  margin-top: 30px;
} */

/** 各コンテンツ内の設定 */
.content-text {
	padding-bottom: 60px;
	text-align: center;
}
.content-text >span {
	display: block;
	font-size: 28px;
}

.rec-text {
  padding-bottom: 0;
  text-align: left;
  white-space: nowrap;
  justify-content: center;
  display: flex;
  z-index: 20;
  position: relative;
}

.service-logo {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  padding: 0 15%;
}
.service-logo li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.service-logo div {
  height: auto;
}
.service-logo img {
  position: absolute;
  width: 9vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.icon-images {
  display: flex;
  position: relative;
  width: 13vw;
  padding-top: 100%;
  margin-bottom: 15px;
  background: #fff;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -webkit-box-shadow: 4px 4px 4px gray;
          box-shadow: 4px 4px 4px gray;
}

/** footerの記述 */
.footer {
  background-color: #00a9eb;
  color: #585859;
  height: 400px;
  font-size: 20px;
  width: 100%;
}
.footer-logo {
  width: 300px;
  margin: 40px;
}
.footer-text-section {
	display: flex;

  /* 北原３コメントアウト */
	/* justify-content: space-between; */

  /* 北原３追加 */
	justify-content: space-evenly;


  	width: 70%;
  	list-style: none;
  	margin: 0 auto;
  	margin-bottom: 30px;
  	padding: 0;
  	text-align: left
}
.wrapper-footer-list{
	display: inline-block;
}
.footer-link {
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0; 
  text-align: left;
}
.footer-link a {
  color: #585859;
}
.link-content :before {
	content:"-";
}
.link-content{
	color: #585859;
}
.link-content a {
  color: #585859;
  font-size: 18px;
}
.footer-text-list {
  display: list-item;
}

.copyright {
  text-align: right;
  padding-bottom: 10px;
  margin-right: 5%;
  font-size: 15px;
}

/** keyframes 
 *  読みやすくなるよう、こちらにまとめておきます。
 */
@-webkit-keyframes faderight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes faderight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeleft {
  from {
    opacity: 0;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
  
@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes pop-bounce {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes pop-bounce {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  50% {
    opacity: .5;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ------------------------------
 * 以降スマホ用CSS記載
 * ------------------------------ */
@media screen and (max-width: 1024px) {
  button {
    margin: 40px 0 40px 0;
  }
  
  /** グローバルメニュー */
  .global_menu {
    display: none;
  }
  
  #mobile-logo {
    width:120px;
    display: block;
    position:absolute;
    top:10px;
    left: 8%;
    z-index:15;
  }
  .mobile-menu-icon {
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    margin:0;
    display: block;
    position: absolute;
    top:10px;
    right:16px;
    z-index: 20;
    width:47px;
  }
  .mobile-menu-icon > span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform .7s;
    transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s, -webkit-transform .7s;
  }
  .mobile-menu-icon > span:last-child {
    margin-bottom: 0;
  }
  .mobile-menu-icon.menu-open > span:nth-child(1) {
    -webkit-transition-delay: 70ms;
            transition-delay: 70ms;
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .mobile-menu-icon.menu-open > span:nth-child(2) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateX(-18px) scaleX(0);
            transform: translateX(-18px) scaleX(0);
  }
  .mobile-menu-icon.menu-open > span:nth-child(3) {
    -webkit-transition-delay: 140ms;
            transition-delay: 140ms;
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  
  .overlay {
    display:block;
    position: absolute;
    height: 420px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(51,188,239,0.95);
    text-align: center;
    padding: 64px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    z-index:18;
  }
  .overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:20px;
    text-align:-webkit-center;
  }
  .overlay li {
    text-align: left;
    border-bottom: 1px solid gray;
    margin-top: 24px;
    width:75%;
  }
  .overlay li a {
    padding-left: 1px;
    color: black;
    text-decoration: none;
  }
  .overlay dl {
    margin: 0;
  }
  .overlay dl dt {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: relative;
  }
  .overlay dl dt::after {
    content: '+';
    position: absolute;
    top: -1px;
    right: 16px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .overlay dl.appear dt::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .overlay dl dd {
    margin: 0;
    text-align: left;
    padding: 8px;
    display: none;
  }
  .overlay dl.appear dd {
    display: block;
    -webkit-animation: .6s fadeIn;
            animation: .6s fadeIn;
  }
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  .under-heading {
    margin-top: 0;
  }

  .swiper-slide > img {
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
  }
 
  .pop.pon {
    margin-bottom: 20px;
  }
  
   /*見出しの設定 */
  .content-heading {
    padding-bottom: 50px;
  }
  .content-text {
    margin: 0 10%;
  }
  .content-text > span {
    font-size: 18px;
  }
  
   /*各コンテンツ内の設定 */
  .contents {
    margin: 0 10%;
  }
  .icon-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    /* 北原１コメントアウト */
    /* width: 30vw; */

    /* 北原１追加 */
    width: min(30vw,100%);
    margin: 0 auto 15px;

  }



  
  .service-logo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: start;
        -ms-flex-align: start;
  }
  .service-logo img {
    width: 20vw;
  }
  .pop {
    text-align: center;
    font-size: 20px;

    /* 北原１コメントアウト */
    /* width: calc((100% / 2) - (20px * 1 / 2)); */

    /* 北原１追加 */
    width: min(calc((100% / 2) - (20px * 1 / 2)),280px);
  }
  
  /*/footerの記述*/
  .footer {
    height: 700px;
    font-size: 16px;
    width:auto;
  }
  .footer-text-section {
    margin: 0 0 0 15%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wrapper-footer-list {
    display: block;

    /* 北原３追加 */
    width:40%;
    
  }
  .footer-link {
    font-size: 10px;
    margin: 20px 0px 10px 0;
  }
  .footer-link a {
    font-size: 20px;
  }
  .link-content a {
    font-size: 12px;
  }
  .copyright {
    font-size: 15px;
    padding: 30px;
    text-align: center;
    margin:inherit;
  }
}

@media screen and (max-width: 427px) {
  /** スマホ用改行クラス */
  .sp-indention-medium{
    display: block;
  }
  
  .cloud img {
    display: none;
  }
  
  #mobile-logo {
    width:100px;
    left: 8%;
  }
  .mobile-menu-icon {
    right:8%;
  }
  
  .overlay{
    height:400px;
  }
  .overlay ul {
    font-size:16px;  
  }
  .overlay li {
    margin-top: 24px;
    width:250px;
  }
  
  .animate-title {
    font-size: 25px;
    margin: 0 auto;
  }
  
  .pop{
    font-size:14px;
  }
  
  .headig-text {
    margin: 0 8%;
  }
  .headig-text > span {
    font-size: 16px;
  }
  
  .content-text > span {
    font-size: 20px;
  }
  
  .icon-images {
    width: 32vw;
  }
  
  .footer {
    height: 650px;
    text-align: center;
  }
  .footer-logo {
    width: 250px;
    margin: 45px 0 30px 0;
  }
  .footer-text-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .wrapper-footer-list {
    width: calc((100% / 2) - (20px * 1 / 2));
    margin-bottom: 20px;
  }
  .footer-link a {
    font-size: 15px;
  }
  .link-content a {
    font-size: 10px;
  }
  .copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 374px) {
  /** スマホ用改行クラス */
  .sp-indention-smarl{
    display: block;
  }
  
  .overlay{
    height:360px;
  }
  .overlay ul {
    font-size:14px;  
  }
  .overlay li {
    margin-top: 20px;
    width:220px;
  }

  .animate-title {
    font-size: 20px;
  }

  .content-text > span {
    font-size: 14px;
  }
  
  .footer-logo {
    width: 200px;
  }
  
  .footer-text-section {
    width: 75%;
  }
  .footer-link {
    font-size: 13px;
  }
  .footer-link a {
    font-size: 13px;
  }
  .link-content a {
    font-size: 8px;
  }
   
}
