// @use 'sass: math';
@use '_config' as *;
// @use 'sass: meta';

body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: vwpc(24);
  line-height: 1.5;
  color: $base-color-black;
}


img {
  max-width: 100%;
  height: auto;
}

a,button{
  transition: .3s;
  &:hover{
    opacity: 0.75;
  }
}

// // 数値の単位除去
// @function strip-unit($number){
//   @if meta.type-of($number) == 'number' and not math.is-unitlless($number){
//     @return math.div($number, $number * 0 + 1);
//   }
//   @return $number;
// }

// // rem変換関数  font-size: rem(42px);など
// @function rem($pixel, $base: 16){
//   @if math.unit($pixel) != 'px'{
//     @warn '引数には、単位がpxの数値を入れて下さい'
//   }
//   @return math.div(stip-unit($pixel), 16) * 1rem;
// }