@use '_config' as *;

body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: vwpc(24);

  // 見直すところ
  // →vwpcを使用しているところにmq-max()を追加。
  // 値はrem()←引数はvwpcと同じ。にする。
  // mq-maxはmq-upよりも後に書く。
  @include mq-max(){
    font-size: rem(24);
  }


  @include mq-down(){
    font-size: vw(12);

  }
  line-height: 2.0em;
  color: $base-color-black;
}


img {
  max-width: 100%;
  height: auto;
}

a,button{
  transition: .3s;
  &:hover{
    opacity: 0.75;
  }
}

