@use '_config' as *;

/*--------
heading
---------*/

.gu-heading{
  &-1 {
    font-family: Roboto; 
    font-weight: 700;
    // margin-bottom: 0.3em;
    line-height: 1.5;
    @include mq-up(){
      font-size: vwpc(120);
    }
    @include mq-down() {
      font-size: vw(40);
    }
  }
  &-2 {
    font-weight: 700;
    margin-bottom: 1em;
    @include mq-up(){
      font-size: vwpc(56);
    }
    @include mq-down() {
      font-size: vw(24);
    }
  }
  &-3{
    font-weight: 700;
    margin-bottom: 1em;
    @include mq-up(){
      font-size: vwpc(40);
    }
    @include mq-down() {
      font-size: vw(16);
    }
  }
  &__color-a{
    color:$base-color-white;
  }
  &__color-b{
    color:$sub-color-blue01;
  }
  &__color-c{
    color:$sub-color-blue02;
  }
}

/*--------
text
---------*/

.gu-text{
  &-1 {
    font-weight: 400;
    // margin-bottom:1em;
    @include mq-up(){
      font-size: vwpc(24);
    }
    @include mq-down() {
      font-size: vw(12);
    }
    &+&{
      margin-top:1em;
    }
  }
  &__color-a{
    color:$base-color-white;
  }
}

/*--------
button
---------*/

.gu-button{
  &-1{
    display: block;
    font-family: Roboto; 
    font-weight:700;
    line-height: 1.17;
    color:$base-color-white;
    background: $sub-color-blue01;
    border-radius: 9999px;
    width: fit-content;
    @include mq-up(){
      font-size: vwpc(40);
      padding: vwpc(8) vwpc(64);
    }
    @include mq-down(){
      text-align: center;
      width: 100%;
      font-size: vw(24);
      padding: vw(16) vw(22);
    }
  }
  &__center{
    margin: 0 auto;
  }
}