@use '../config' as *;


.gu-section__contact-1{
    @include mq-up(){
      padding-bottom:vwpc(200);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

.contact-form {

    @include mq-up(){
        width:vwpc(1200);
        height:vwpc(1600);
      }
      @include mq-down(){
        width:vw(300);
        height:vw(800);
      }
}
