* {
  font-size: 20px;
}

.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  margin-left: auto;
  display: block;
  position: relative;
  z-index: 20;
}

.mobile-menu-icon > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s, -webkit-transform .7s;
}

.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

.mobile-menu-icon.menu-open > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.mobile-menu-icon.menu-open > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.mobile-menu-icon.menu-open > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

.overlay {
  position: fixed;
  height: 400px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #33BCEF;
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.overlay ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay li {
  text-align: left;
  width: 250px;
  border-bottom: 1px solid gray;
  margin-top: 24px;
}

.overlay li a {
  padding-left: 1px;
  color: black;
  text-decoration: none;
}

.overlay dl {
  margin: 0;
}

.overlay dl dt {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.overlay dl dt::after {
  content: '+';
  position: absolute;
  top: -1px;
  right: 16px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.overlay dl.appear dt::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.overlay dl dd {
  margin: 0;
  text-align: left;
  padding: 8px;
  display: none;
}

.overlay dl.appear dd {
  display: block;
  -webkit-animation: .6s fadeIn;
          animation: .6s fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
/*# sourceMappingURL=style.css.map */