@use '../config' as *;

.top .gu-section{
  &::before{
    content:none;
  }
}
.top .gu-container{
  display:flex;
  
}
.gu-top-content{
  width: 50%;
}
.gu-top-inner{
  padding-left: vwpc(40);
}
.gu-contentImage{
  &:nth-of-type(add){
    order: -1;
  }
}

.gu-heading-3 {
  margin-top:1em;
  &:first-of-type{
    margin-top:0;
  }
}
.gu-vision__content + .gu-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
}
