@use '../config' as *;
@use '../mixin' as *;

.top {
  overflow-x: hidden;
}
.top main{
  margin-top: 0;
}
.top #gu-header-js {
  position: absolute;
  width: 100%;
  z-index: 20;
}
.top .gu-header {
  background: transparent;
}
.top .gu-footer{
  &:before{
    content:"";
    position: absolute;
    background: url("/assets/images/wave_light01.png") no-repeat 0 0 / 100%;
    width: 100%;
    height: vwpc(150);
    top: vwpc(-140);
  }
}
.top .gu-section{
  &::before{
    content:none;
  }
}
.top .gu-container{
  display:flex;
  justify-content: space-between;
  padding: vwpc(140) 0;
  @include mq-down{
    flex-direction: column;
    padding: vw(72) 0 0;
  }
}
.gu-top-content{
  width: 50%;
  @include mq-down{
    width: 100%;
    margin-bottom: vw(64);
  }
}
.top .gu-button-1 {
  margin-top: vwpc(63);
  @include mq-down(){
    margin-top: vw(23);
    width: vw(112);
    font-size: vw(12);
    padding: vw(4) vw(12);
    line-height: 1.5;
  }
}
.gu-top-inner{
  padding-left: vwpc(40);
}
.gu-top-contentImage{
  width: 100vw;
  max-width: 50%;
  margin: 0 calc(50% - 50vw) 0;
  @include mq-down(){
    max-width: inherit;
  }
}
@include mq-up(){
  .gu-section:nth-of-type(odd) .gu-top-contentImage{
      order: -1;
  }
}
.gu-top-contentImage img{
  width: vwpc(800);
  display: block;
  @include mq-down(){
    width: 100%;
  }
}

.gu-heading-3 {
  margin-top:1em;
  &:first-of-type{
    margin-top:0;
  }
}
.gu-vision__content + .gu-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
}

.gu-news-list{
  margin-top: vwpc(71);
  color: $base-color-white;
  font-size:vwpc(24);
  row-gap: vwpc(32);
  display: flex;
  flex-direction: column;
  @include mq-down(){
    row-gap: vw(37);
    font-size:vw(12);
  }
  li a{
    display: flex;
    border-bottom:1px solid $base-color-white ;
    position: relative;
  }
  .dt{
    width: 25%;
    text-align: center;
  }
  .dd{
    width: 75%;
    padding-right: vwpc(60);
    @include mq-down(){
      padding-right: vw(30);

    }
    &::after{
      content:"→";
      position: absolute;
      right:vwpc(24);
      top:0;
      @include mq-down(){
        right:vw(12);

      }
    }
  }
}

.gu-top-online{
  padding: vwpc(85) 0 vwpc(106);
  @include mq-down{
    padding: vw(40) 0;
  }
  & .gu-heading-1{
    width:fit-content;
    margin: 0 auto;
    margin-bottom: vwpc(44);
    @include mq-down{
      margin-bottom: vw(22);
    }
  }
  &__image{
    @include mq-down{
      margin-bottom: vw(40);
    }
    img{
      width: 100%;
    }
  }
  
}

.gu-top-mv {
  height: vwpc(1080);
  background: url('/assets/images/top_MV01.jpg') no-repeat 0 0 / 100%;
  position: relative;
  @include mq-down(){
    background: url('/assets/images/top_MV01sp.jpg') no-repeat 0 0 / 100%;
    height:vw(640);
  }
  &Title{
    position: relative;
    z-index: 10;
    padding-top:vwpc(320);
    text-align: center;
    margin-bottom: vwpc(210);
    @include mq-down(){
      padding-top:vw(240);
      margin-bottom: vw(146);
      &__subText{
        margin-top: 0;
      }
    }
    &__text{
      margin-bottom:  vwpc(34);
    }
  }
  &ScrollGuide{
    width:fit-content;
    margin: 0 auto;
    &:after{
      content: '';
      background: $base-color-white;
      margin: vwpc(26) auto 0;
      display: block;
      height: vwpc(34);
      width: vwpc(30);
      clip-path: polygon(44% 0, 44% 80%, 0 60%, 0 75%, 50% 100%, 100% 75%, 100% 60%, 56% 80%, 56% 0);
    }
    &__text{
      width:vwpc(256);
      @include mq-down{
        width:vw(96);
      }
    }
  }
  &Side{
    position: absolute;
    width: vwpc(28);
    top: vwpc(673);
    left: vwpc(103);
    @include mq-down(){
      display: none;
    }
    &__text:after{
      content: '';
      display: block;
      width: vwpc(50);
      height: vwpc(50);
      background: url('/assets/images/icon01.png') no-repeat 0 0 / 100%; 
      margin-top: vwpc(22);
      margin-left: vwpc(-14);
    }
    img {
      width: 100%;
    }
  }
}






.gu-object__shape {
  position: absolute;
  opacity: .6;
  z-index: 1;

  &:before ,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:before {
    top: 5px;
    left: 5px;
  }
  &:after {
    top: -5px;
    left: -5px;
  }

  &--red {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_red01.svg);
    }
  }
  &--yellow {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_yellow01.svg);
    }
  }
  &--blue {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_blue01.svg);
    }
  }
  &--blue02 {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_blue02.svg);
    }
  }
  &--blue03 {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_blue03.svg);
    }
  }
  &--blue04 {
    &:before ,
    &:after {
      background-image: url(/assets/images/object/obje_blue04.svg);
    }
  }

  .gu-object--topMv & {
    &:nth-child(1) {
      top: vwpc(169);
      left: 10%;
      width: vwpc(330);
      height: vwpc(350);

      @include mq-down {
        top: vw(106);
        left: vw(30);
        width: vw(89);
        height: vw(95);
      }

     
      &:before {
        @include object-anime-1-before();
        @include mq-down(){
          @include object-anime-1-before_mini();
          
        }
      }
      &:after {
        @include object-anime-1-after();
        @include mq-down(){
          @include object-anime-1-after_mini();
          
        }
      }
    }
    &:nth-child(2) {
      top: vwpc(182);
      right: 26%;
      width: vwpc(200);
      height: vwpc(210);

      @include mq-down {
        top: vw(417);
        left: vw(43);
        width: vw(58);
        height: vw(58);
      }

      &:before {
        @include object-anime-2-before();
        @include mq-down(){
          @include object-anime-2-before_mini();
          
        }
      }
      &:after {
        @include object-anime-2-after();
        @include mq-down(){
          @include object-anime-2-after_mini();
          
        }
      }
    }
    &:nth-child(3) {
      top: vwpc(600);
      right: 13%;
      width: vwpc(240);
      height: vwpc(228);

      @include mq-down {
        top: vw(177);
        right: vw(38);
        width: vw(80);
        height: vw(84);
      }

      &:before {
        @include object-anime-3-before();
        @include mq-down(){
          @include object-anime-3-before_mini();
          
        }
      }
      &:after {
        @include object-anime-3-after();
        @include mq-down(){
          @include object-anime-3-after_mini();
          
        }
      }
    }
  }
  .gu-object--topSection01 & {
    &:nth-child(1) {
      top: vwpc(55);
      right: vwpc(88);
      width: vwpc(80);
      height: vwpc(96);

      @include mq-down {
        top: vw(29);
        right: vw(40);
        width: vw(55);
        height: vw(60);
      }

     
      &:before {
        @include object-anime-2-before_mini();
      }
      &:after {
        @include object-anime-2-after_mini();
          
      }
    }
  }
  .gu-object--topSection02 & {
    &:nth-child(1) {
      top: vwpc(55);
      right: vwpc(865);
      width: vwpc(117);
      height: vwpc(114);

      @include mq-down {
        top: vw(275);
        right: vw(38);
        width: vw(51);
        height: vw(57);
      }

     
      &:before {
        @include object-anime-1-before_mini();
      }
      &:after {
        @include object-anime-1-after_mini();
          
      }
    }
  }
  .gu-object--topSection03 & {
    &:nth-child(1) {
      bottom: vwpc(64);
      right: vwpc(190);
      width: vwpc(117);
      height: vwpc(114);

      @include mq-down {
        top: vw(300);
        right: vw(121);
        width: vw(51);
        height: vw(57);
      }

     
      &:before {
        @include object-anime-3-before_mini();
      }
      &:after {
        @include object-anime-3-after_mini();
          
      }
    }
  }
  .gu-object--topSection04 & {
    &:nth-child(1) {
      top: vwpc(75);
      left: vwpc(60);
      width: vwpc(117);
      height: vwpc(114);

      @include mq-down {
        top: vw(300);
        right: vw(121);
        width: vw(51);
        height: vw(57);
      }

     
      &:before {
        @include object-anime-2-before_mini();
      }
      &:after {
        @include object-anime-2-after_mini();
          
      }
    }
  }
}


// @keyframes unyonnyo {
//   0%{ transform: scale(1.08, 0.92); }
//   50%{ transform: scale(0.92, 1.08); }
//   100%{ transform: scale(1.08, 0.92); }
// }
// @keyframes unyonnyo2 {
//   0%{ transform: scale(0.92, 1.08); }
//   50%{ transform: scale(1.08, 0.92); }
//   100%{ transform: scale(0.92, 1.08); }
// }
// @keyframes poyopoyo {
//   0%{ top: 6px; left: 6px; }
//   50%{ top: 0; left: 0; }
//   100%{ top: 6px; left: 6px; }
// }
// @keyframes poyopoyo2 {
//   0%{ top: -7px; left: -7px; }
//   50%{ top: 0; left: 0; }
//   100%{ top: -7px; left: -7px; }
// }


