@use '../config' as *;

.gu-section__recruit-1{
    @include mq-up(){
      padding-bottom:vwpc(460);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

.gu-section__recruit-2{
    @include mq-up(){
      padding-bottom:vwpc(460);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

.gu-section__recruit-3{
    @include mq-up(){
      padding-bottom:vwpc(300);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }


.gu-heading-3 {
    @include mq-up(){
      margin-top:1em;
      &:first-of-type{
        margin-top:0;
      }
    }
    @include mq-down(){
      margin-top:1.5em;
    }
  }


.company-detail-title {
  @include mq-up(){
    margin-right:vwpc(150);
  }
  @include mq-down(){
    margin-right:vw(50);
}
}

.company-img-area {
  @include mq-up(){
    width:vwpc(600);
  }
  @include mq-down(){
    width:vw(300);
  }
  
}


.div-wrap{
  display: flex;
  gap: 75px;
}

.company-details{
  @include mq-up(){
    width:vwpc(810);
  }
  @include mq-down(){
    width:vw(300);
}
}

.gu-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
  @include mq-down(){
    margin-top:vw(84);
  }
}


.gu-recruit__textArea {
  padding-left: 40px;

  @include mq-up(){
    padding-left: vwpc(40);
  }
  }
  


.gu-recruit__textArea dl{
  display: flex;
  flex-wrap: wrap;
}

.company-image{
  @include mq-up(){
    width: vwpc(600);
    padding-top: vwpc(100);
  }
  @include mq-down(){
    display: none;
  }
  }

  .gu-section__recruit-3{
    @include mq-up(){
      padding-bottom:vwpc(130);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

  .text-area {
    @include mq-up() {
      margin-top: vwpc(40);
    }
    @include mq-down() {
      margin-top: vw(20);
    }
  }

dd {
  width: 70%;
  border-bottom: 0.5px solid;
  @include mq-up() {
    padding-top:  vwpc(20);
    padding-bottom: vwpc(20);
  }
  @include mq-down(){
    padding-top:  vw(15);
    padding-bottom: vw(15);
    font-size: 12px;
  }
  }
  

dt {
  width: 30%;
  border-bottom: 0.5px solid;
  @include mq-up() {
    padding-top:  vwpc(20);
    padding-bottom: vwpc(20);
  }
  @include mq-down(){
    padding-top:  vw(15);
    padding-bottom: vw(15);
    font-size: 12px;
  }
}

// .company-content-text {
//   border-bottom: 0.5px solid;
// }

