@use '../config' as *;
@use '../mixin' as *;

.gu-section__recruit-1{
    @include mq-up(){
      padding-bottom:vwpc(460);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

.gu-section__recruit-2{
    @include mq-up(){
      padding-bottom:vwpc(460);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

.gu-section__recruit-3{
    @include mq-up(){
      padding-bottom:vwpc(300);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }


.gu-heading-3 {
    @include mq-up(){
      margin-top:1em;
      &:first-of-type{
        margin-top:0;
      }
    }
    @include mq-down(){
      margin-top:1.5em;
    }
  }


.company-detail-title {
  @include mq-up(){
    margin-right:vwpc(150);
  }
  @include mq-down(){
    margin-right:vw(50);
}
}

.company-img-area {
  img{
    width:100%;
  }
  @include mq-up(){
    width:vwpc(600);
  }
  @include mq-max(){
    width:rem(600);
  }
  @include mq-down(){
    width:vw(300);
  }
  
}


.div-wrap{
  display: flex;
  // gap: vwpc;
  justify-content: space-between;
}

.company-details{
  @include mq-up(){
    width:vwpc(810);
  }
  @include mq-max(){
    width:rem(810);
  }
  @include mq-down(){
    width:100%;
}
}

.gu-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
  @include mq-down(){
    margin-top:vw(84);
  }
}


.gu-recruit__textArea {
  padding-left: 40px;

  @include mq-up(){
    padding-left: vwpc(40);
  }
  @include mq-max() {
    padding-left: rem(40);
  }
  @include mq-down(){
    padding-left: vw(8);
  }
  
}
  


.gu-recruit__textArea dl{
  display: flex;
  flex-wrap: wrap;
}

.company-image{
  @include mq-up(){
    width: vwpc(600);
    padding-top: vwpc(70);
  }
  @include mq-max() {
    width: rem(600);
    padding-top: rem(70);
  }
  @include mq-down(){
    display: none;
  }
  }

  .gu-section__recruit-3{
    @include mq-up(){
      padding-bottom:vwpc(130);
    }
    @include mq-max() {
      padding-bottom:rem(130);
    }
    @include mq-down(){
      padding-bottom:vw(100);
    }
  }

  .text-area {
    @include mq-up() {
      margin-top: vwpc(40);
    }
    @include mq-max() {
      margin-top: rem(40);
    }
    @include mq-down() {
      margin-top: vw(20);
    }
  }

dd {
  width: 70%;
  border-bottom: 0.5px solid;
  @include mq-up() {
    padding-top:  vwpc(20);
    padding-bottom: vwpc(20);
  }
  @include mq-max() {
    padding-top:  rem(20);
    padding-bottom: rem(20);
  }
  @include mq-down(){
    padding-top:  vw(15);
    padding-bottom: vw(15);
    font-size: 12px;
  }
  }
  

dt {
  width: 30%;
  border-bottom: 0.5px solid;
  @include mq-up() {
    padding-top:  vwpc(20);
    padding-bottom: vwpc(20);
  }
  @include mq-max() {
    padding-top:  rem(20);
    padding-bottom: rem(20);
  }
  @include mq-down(){
    padding-top:  vw(15);
    padding-bottom: vw(15);
    font-size: 12px;
  }
}

// .company-content-text {
//   border-bottom: 0.5px solid;
// }


.gu-object__shape {
  .gu-object--recruit-1 & {
    &:nth-child(1) {
      top: vwpc(268);
      right: 12%;
      width: vwpc(305);
      height: vwpc(325);

      @include mq-max {
        top: rem(268);
        width: rem(305);
        height: rem(325);
      }

      @include mq-down {
        top: vw(12);
        right: 4%;
        width: vw(80);
        height: vw(85);
        z-index: 0;
      }

     
      &:before {
        @include object-anime-1-before();
        @include mq-down(){
          @include object-anime-1-before_mini();
          
        }
      }
      &:after {
        @include object-anime-1-after();
        @include mq-down(){
          @include object-anime-1-after_mini();
          
        }
      }
    }
    &:nth-child(2) {
      top: vwpc(680);
      right: 19%;
      width: vwpc(122);
      height: vwpc(120);

      @include mq-max() {
        top: rem(680);
        width: rem(122);
        height: rem(120);
      }

      @include mq-down {
        display: none;
      }

      &:before {
        @include object-anime-3-before_mini();
      }
      &:after {
        @include object-anime-3-after_mini();
      }
    }
 
  }
  .gu-object--recruit-2 & {
    &:nth-child(1) {
      top: vwpc(-13);
      right: 8%;
      width: vwpc(365);
      height: vwpc(384);

      @include mq-max {
        top: rem(-13);
        width: rem(365);
        height: rem(384);
      }

      @include mq-down {
        top: vw(-13);
        right: 4%;
        width: vw(74);
        height: vw(78);
      }

     
      &:before {
        @include object-anime-1-before();
        @include mq-down(){
          @include object-anime-1-before_mini();
          
        }
      }
      &:after {
        @include object-anime-1-after();
        @include mq-down(){
          @include object-anime-1-after_mini();
          
        }
      }
    }
    &:nth-child(2) {
      top: vwpc(439);
      right: 10%;
      width: vwpc(122);
      height: vwpc(125);

      @include mq-max {
        top: rem(439);
        width: rem(122);
        height: rem(125);
      }

      @include mq-down {
        display: none;
      }

      &:before {
        @include object-anime-3-before_mini();
      }
      &:after {
        @include object-anime-3-after_mini();
      }
    }
 
  }
  .gu-object--recruit-3 & {
    &:nth-child(1) {
      top: vwpc(-144);
      left: 5%;
      width: vwpc(227);
      height: vwpc(264);
      z-index: 0;

      @include mq-max {
        top: rem(-144);
        width: rem(227);
        height: rem(264);
      }

      @include mq-down {
        display: none;
      }

     
      &:before {
        @include object-anime-3-before();
        // @include mq-down(){
        //   @include object-anime-1-before_mini();
          
        // }
      }
      &:after {
        @include object-anime-3-after();
        // @include mq-down(){
        //   @include object-anime-1-after_mini();
          
        // }
      }
    }
    
 
  }

}

.gu-section__recruit-1 .gu-container{
  position: relative;
  z-index: 1;
}
.gu-section__recruit-3 .gu-container{
  position: relative;
  z-index: 1;
}