@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@400;700&display=swap');

body{
	font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}

$base-color-blue: #0B5773;
$base-color-gray: #E7E7E7;
$base-color-white: #fff;

$sub-color-blue: ;