@charset "UTF-8";

/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */

[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25vw;
  line-height: 1.5;
  color: #0B1D26;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover,
button:hover {
  opacity: 0.75;
}

@-webkit-keyframes unyonnyo {
  0% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  50% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  100% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }
}

@keyframes unyonnyo {
  0% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  50% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  100% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }
}

@-webkit-keyframes unyonnyo2 {
  0% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  50% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  100% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }
}

@keyframes unyonnyo2 {
  0% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }

  50% {
    -webkit-transform: scale(1.08, 0.92);
    transform: scale(1.08, 0.92);
  }

  100% {
    -webkit-transform: scale(0.92, 1.08);
    transform: scale(0.92, 1.08);
  }
}

@-webkit-keyframes poyopoyo {
  0% {
    top: 6px;
    left: 6px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 6px;
    left: 6px;
  }
}

@keyframes poyopoyo {
  0% {
    top: 6px;
    left: 6px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 6px;
    left: 6px;
  }
}

@-webkit-keyframes poyopoyo2 {
  0% {
    top: -7px;
    left: -7px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -7px;
    left: -7px;
  }
}

@keyframes poyopoyo2 {
  0% {
    top: -7px;
    left: -7px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -7px;
    left: -7px;
  }
}

@-webkit-keyframes poyopoyo_mini {
  0% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 2px;
    left: 2px;
  }
}

@keyframes poyopoyo_mini {
  0% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: 2px;
    left: 2px;
  }
}

@-webkit-keyframes poyopoyo2_mini {
  0% {
    top: -3px;
    left: -3px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -3px;
    left: -3px;
  }
}

@keyframes poyopoyo2_mini {
  0% {
    top: -3px;
    left: -3px;
  }

  50% {
    top: 0;
    left: 0;
  }

  100% {
    top: -3px;
    left: -3px;
  }
}

.gu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: #fff;
}

.gu-header__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gu-header__navList li {
  width: 11.67vw;
}

.gu-header__navList li a {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 0.83vw 0 0.42vw;
}

.gu-mobile-menu-icon {
  position: absolute;
  top: 4.07vw;
  right: 4.07vw;
  z-index: 20;
}

.gu-mobile-menu-icon > span {
  background-color: black;
  width: 6.11vw;
  height: 1px;
  display: block;
  margin-bottom: 2.04vw;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.gu-mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

.gu-mobile-menu-icon.js-open > span {
  background: #fff;
}

.gu-mobile-menu-icon.js-open > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
  transition-delay: 70ms;
  -webkit-transform: translateY(2.29vw) rotate(135deg);
  transform: translateY(2.29vw) rotate(135deg);
}

.gu-mobile-menu-icon.js-open > span:nth-child(2) {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-4.07vw) scaleX(0);
  transform: translateX(-4.07vw) scaleX(0);
}

.gu-mobile-menu-icon.js-open > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
  transition-delay: 140ms;
  -webkit-transform: translateY(-2.29vw) rotate(-135deg);
  transform: translateY(-2.29vw) rotate(-135deg);
}

body.js-overlay {
  overflow-y: hidden;
}

.gu-overlay {
  color: #fff;
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #0B5773;
  padding: 3.82vh 3.82vh 6.37vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  z-index: 18;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gu-overlay.js-show {
  opacity: 1;
  pointer-events: auto;
}

.gu-overlay__header {
  margin-top: 8.92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gu-overlay__headerLogo {
  width: 17.83vh;
  margin-bottom: 2.23vh;
}

.gu-overlay__headerAddress {
  font-weight: 400;
  font-size: 1.27vh;
  margin-bottom: 3.03vh;
}

.gu-overlay__headerSnsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.55vh;
}

.gu-overlay__headerSnsIcons li {
  width: 2.55vh;
}

.gu-overlay__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 2.23vh;
  gap: 4.78vh;
}

.gu-overlay__copyright {
  font-family: roboto;
  font-size: 1.91vh;
  font-weight: 300;
}

.gu-footer {
  color: #fff;
  background: #0B5773;
  font-weight: 400;
  position: relative;
}

.gu-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gu-footer__addressArea {
  width: 15.63vw;
}

.gu-footer__address {
  margin-bottom: 2.08vw;
}

.gu-footer__mapWrap {
  max-width: 31.25vw;
  width: 31.25vw;
}

.gu-footer__map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
  /* 比率を2:1に固定 */
}

.gu-footer__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gu-footer__navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.89vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
  background: #E7E7E7;
}

.gu-section {
  position: relative;
}

.gu-section:nth-of-type(odd):before {
  content: "";
  position: absolute;
  background: url("/assets/images/wave01.png") no-repeat 0 0/100%;
  width: 100%;
  height: 14.58vw;
  top: -14.06vw;
}

.gu-section:nth-of-type(even) {
  background: #0B5773;
}

.gu-section:nth-of-type(even):before {
  content: "";
  position: absolute;
  background: url("/assets/images/wave02.png") no-repeat 0 0/100%;
  width: 100%;
  height: 14.58vw;
  top: -14.06vw;
}

.gu-object__shape {
  position: absolute;
  opacity: 0.6;
  z-index: 1;
}

.gu-object__shape:before,
.gu-object__shape:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.gu-object__shape:before {
  top: 5px;
  left: 5px;
}

.gu-object__shape:after {
  top: -5px;
  left: -5px;
}

.gu-object__shape--red:before,
.gu-object__shape--red:after {
  background-image: url(/assets/images/object/obje_red01.svg);
}

.gu-object__shape--yellow:before,
.gu-object__shape--yellow:after {
  background-image: url(/assets/images/object/obje_yellow01.svg);
}

.gu-object__shape--blue:before,
.gu-object__shape--blue:after {
  background-image: url(/assets/images/object/obje_blue01.svg);
}

.gu-object__shape--blue02:before,
.gu-object__shape--blue02:after {
  background-image: url(/assets/images/object/obje_blue02.svg);
}

.gu-object__shape--blue03:before,
.gu-object__shape--blue03:after {
  background-image: url(/assets/images/object/obje_blue03.svg);
}

.gu-object__shape--blue04:before,
.gu-object__shape--blue04:after {
  background-image: url(/assets/images/object/obje_blue04.svg);
}

.gu-object--overlay .gu-object__shape:nth-child(1):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 12s infinite ease-in-out;
}

.gu-object--overlay .gu-object__shape:nth-child(1):after {
  -webkit-animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out;
  animation: unyonnyo2 10s infinite ease-in-out, poyopoyo2_mini 12s infinite ease-in-out;
}

.gu-object--overlay .gu-object__shape:nth-child(2):before {
  -webkit-animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out;
  animation: unyonnyo 8s infinite ease-in-out, poyopoyo_mini 16s infinite ease-in-out;
}

.gu-object--overlay .gu-object__shape:nth-child(2):after {
  -webkit-animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out;
  animation: unyonnyo2 12s infinite ease-in-out, poyopoyo2_mini 16s infinite ease-in-out;
}

/*--------
heading
---------*/

.gu-heading-1 {
  font-family: Roboto;
  font-weight: 700;
  line-height: 1;
}

.gu-heading-2 {
  font-weight: 700;
  margin-bottom: 1em;
}

.gu-heading-3 {
  font-weight: 700;
  margin-bottom: 1em;
}

.gu-heading__color-a {
  color: #fff;
}

.gu-heading__color-b {
  color: #1788A4;
}

.gu-heading__color-c {
  color: #78C8DA;
}

/*--------
text
---------*/

.gu-text-1 {
  font-weight: 400;
}

.gu-text-1 + .gu-text-1 {
  margin-top: 1em;
}

.gu-text__color-a {
  color: #fff;
}

/*--------
button
---------*/

.gu-button-1 {
  display: block;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.17;
  color: #fff;
  background: #1788A4;
  border-radius: 9999px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gu-button__color-a {
  color: #0B5773;
  background: #78C8DA;
}

.gu-button__center {
  margin: 0 auto;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 768px) {
  #gu-header-js {
    height: 5.73vw;
  }

  .gu-header {
    height: 5.73vw;
    padding: 0 4.17vw 0.52vw 2.5vw;
  }

  .gu-header__logo {
    width: 13.02vw;
    padding: 0 0 0.42vw;
  }

  .gu-mobile-menu-icon {
    display: none;
  }

  .gu-overlay {
    display: none;
  }

  .gu-footer {
    font-size: 0.94vw;
  }

  .gu-footer__container {
    padding: 2.86vw 0 3.13vw;
    max-width: 77.08vw;
    margin: 0 auto;
  }

  .gu-footer__logo {
    width: 13.02vw;
    margin-bottom: 2.08vw;
  }

  .gu-footer__nav {
    width: 15.63vw;
  }

  main {
    margin-top: 14.58vw;
  }

  .gu-container {
    max-width: 77.08vw;
    margin: 0 auto;
  }

  .gu-inner {
    padding: 0 2.08vw 0;
  }

  .gu-heading-1 {
    font-size: 5.21vw;
  }

  .gu-heading-2 {
    font-size: 2.5vw;
  }

  .gu-heading-3 {
    font-size: 1.98vw;
  }

  .gu-text-1 {
    font-size: 1.25vw;
  }

  .gu-button-1 {
    font-size: 2.08vw;
    padding: 0.42vw 3.33vw;
  }

  .only-sp {
    display: none;
  }
}

@media screen and (min-width: 1480px) {
  body {
    font-size: 1.5rem;
  }

  #gu-header-js {
    height: 6.88rem;
  }

  .gu-header {
    height: 6.88rem;
    padding: 0 5rem 0.63rem 3rem;
  }

  .gu-header__logo {
    width: 15.63rem;
    padding: 0 0 0.5rem;
  }

  .gu-header__navList li {
    width: 14rem;
  }

  .gu-header__navList li a {
    padding: 1rem 0 0.5rem;
  }

  .gu-footer {
    font-size: 1.13rem;
  }

  .gu-footer__container {
    padding: 3.44rem 0 3.75rem;
    max-width: 92.5rem;
  }

  .gu-footer__addressArea {
    width: 18.75rem;
  }

  .gu-footer__logo {
    width: 15.63rem;
    margin-bottom: 2.5rem;
  }

  .gu-footer__address {
    margin-bottom: 2.5rem;
  }

  .gu-footer__mapWrap {
    max-width: 37.5rem;
    width: 37.5rem;
  }

  .gu-footer__nav {
    width: 18.75rem;
  }

  .gu-footer__navList {
    gap: 1.06rem;
  }

  main {
    margin-top: 17.5rem;
  }

  .gu-container {
    max-width: 92.5rem;
  }

  .gu-inner {
    padding: 0 2.5rem 0;
  }

  .gu-section:nth-of-type(odd):before {
    height: 17.5rem;
    top: -16.88rem;
  }

  .gu-section:nth-of-type(even):before {
    height: 17.5rem;
    top: -16.88rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 3.05vw;
  }

  #gu-header-js {
    height: 10.18vw;
  }

  .gu-header {
    height: 10.18vw;
    padding: 4.07vw 4.07vw 0;
  }

  .gu-header__logo {
    width: 29.01vw;
    padding: 0 0;
  }

  .gu-header__logo img {
    vertical-align: baseline;
  }

  .gu-header__navList {
    display: none;
  }

  .gu-footer {
    font-size: 4.07vw;
  }

  .gu-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 13.23vw 9.16vw 38.17vw;
  }

  .gu-footer__addressArea {
    text-align: center;
    width: 100%;
  }

  .gu-footer__logo {
    width: 28.5vw;
    margin: 0 auto 4.07vw;
  }

  .gu-footer__address {
    font-size: 2.04vw;
    margin-bottom: 12.72vw;
  }

  .gu-footer__copyright {
    font-size: 3.05vw;
    position: absolute;
    bottom: 10.18vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .gu-footer__mapWrap {
    max-width: 100%;
    width: 100%;
  }

  .gu-footer__map {
    padding-top: 62.5%;
    margin-bottom: 12.72vw;
  }

  .gu-footer__navList {
    gap: 7.63vw;
  }

  main {
    margin-top: 17.3vw;
  }

  .gu-container {
    margin-left: 6.11vw;
    margin-right: 6.11vw;
  }

  .gu-inner {
    padding: 0 2.04vw 0;
  }

  .gu-object--overlay .gu-object__shape:nth-child(1) {
    top: 28%;
    right: 12%;
    width: 7.17vh;
    height: 7.96vh;
  }

  .gu-object--overlay .gu-object__shape:nth-child(2) {
    top: 68%;
    left: 9%;
    width: 7.17vh;
    height: 7.96vh;
  }

  .gu-heading-1 {
    font-size: 10.18vw;
  }

  .gu-heading-2 {
    font-size: 6.11vw;
  }

  .gu-heading-3 {
    font-size: 4.07vw;
  }

  .gu-text-1 {
    font-size: 3.05vw;
  }

  .gu-button-1 {
    text-align: center;
    width: 100%;
    font-size: 6.11vw;
    padding: 4.07vw 5.6vw;
  }

  .only-pc {
    display: none;
  }
}
/*# sourceMappingURL=common.css.map */
