@use '../config' as *;

.gu-section__vision-1{
  @include mq-up(){
    padding-bottom:vwpc(460);
  }
  @include mq-down(){
    padding-bottom:vw(100);
  }
}
.gu-section__vision-2{
  // background:$base-color-blue;
  @include mq-up(){
    padding-bottom:vwpc(460);
  }
  @include mq-down(){
    padding-bottom:vw(100);
  }
}
.gu-section__vision-3{
  @include mq-up(){
    padding-bottom:vwpc(130);
  }
  @include mq-down(){
    padding-bottom:vw(50);
  }
}

.gu-heading-3 {
  @include mq-up(){
    margin-top:1em;
    &:first-of-type{
      margin-top:0;
    }
  }
  @include mq-down(){
    margin-top:1.5em;
  }
}
.gu-vision__textArea + .gu-button-1{
  @include mq-up(){
    margin-top:vwpc(150);
  }
  @include mq-down(){
    margin-top:vw(84);
  }
}
