@charset "UTF-8";

/*ヒーローイメージ*/
/*スライドショー*/

.hero{
  width: 100%;
  overflow:hidden;
}

.hero > .swipers {
  overflow: visible !important;
}

.swipes .swiper-slide {
  overflow: hidden;
}

.hero .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: auto;
     object-fit: auto;
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

.hero .swiper-wrapper > .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swipes .swiper-slide-active > img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* ------------------
 * About us
 * ------------------- */
/*About Usの背景グラデーション*/
.top-service-section {
  box-sizing: content-box;
  background: linear-gradient(#ffffff, #00a9eb);
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

#About_us.inner-content {
  padding-bottom: 0;
}

/*// Newsのセクションのスタイル記述*/

.news-text-section {
  padding: 80px 0 0 0;
  align-items: center;
}

.news-group{
  border-collapse: collapse;
  table-layout: auto;
  width: 70%;
  margin: 0 auto;
  border-spacing: 20px;
}

.news-text {
  border-bottom: 1px solid black;
}

.news-text td{
  height: 40px;
  padding-top: 20px;
}

.release-date{
  padding-left: 20px;
}

.release-note{
  padding-left: 20px;
}

/*リクルートセクションスタイル*/
.top-recruit-section {
  background: rgba(224, 224, 224, 0.5);
  position:relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
.top-recluit-section img {
  display: block;
  width: 100%;
  height: auto;
}

#recruit {
  padding: 100px 0 60px 0;
}

.recruit-pic{
  background-image:url("../common/img/pictures/recruit-pic-long.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 450px;
  text-align: center;
  margin:0 5%;
  margin-bottom: 80px;
}


/* ------------------------------
 * 以降スマホ用CSS記載
 * ------------------------------ */
@media screen and (min-width: 1024px) {
  /* ------------------
 * About us
 * ------------------- */

  /*// Newsのセクションのスタイル記述*/
  .news-group{
    width: 100%;
  }
  .news-text-section {
    font-size: 24px;
    margin: 0 10%;
  }
  .news-text {
    width: 100%;
    margin-bottom: 20px;
  }

  /*リクルートセクションスタイル*/
}

@media screen and (max-width: 1023px) {

  .hero .swiper-wrapper > .swiper-slide > img {
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero .swiper-wrapper > .swiper-slide::after {
    height: 100px;
  }
  
  /* ------------------
   * About us
   * ------------------- */
  .promotion {
    margin: 30px;
  }
  
  /*About Usの背景グラデーション*/
  .top-service-section {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#00a9eb));
  }
  
  /*// Newsのセクションのスタイル記述*/
  .news-group{
    width: 100%;
  }
  .news-text-section {
    padding: 30px 0 0 0;
    font-size: 12px;
    text-align: center;
  }
  .news-text {
    width: 100%;
  }
  .news-text td {
    display: block;
    padding: 0;
    height: auto;
  }
  .news-text :first-child {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  
  /*リクルートセクションスタイル*/
  .recruit-pic {
    background-size: 200%;
    height: 350px;
    margin-bottom: 40px;
  }
}