@charset "UTF-8";
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .address {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 0.5em 1em;
    background: #fff;
    border: solid 5px #33bcef; /*線*/
    text-align: center;
  }
  .address div {
    padding: 0;
    margin: 0 auto 20px auto;
    font-weight: bold;
    font-size: 22px;
  }

  .address-location {
    margin: 20px 0 20px 0;
  }

  .address-location :before {
    content: "\25B6";
  }

  .google_map {
    border: solid 5px #33bcef;
    width: 90%;
    height: 450px;
    text-align: center;
    margin: 0 auto;
  }

  iframe {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .address div {
    font-size: 17px;
  }
    button {
    width: 90%;
  }
}
