@charset "UTF-8";
@media screen and (min-width: 1024px) {
  /* CSS Document */

  .address {
    width: 600px;
    margin: 0 auto 60px auto;
    padding: 0.5em 1em;
    background: #fff;
    border: solid 5px #33bcef; /*線*/
    text-align: center;
  }
  .address div {
    padding: 0;
    margin: 0 auto 20px auto;
    font-weight: bold;
    font-size: 22px;
  }

  .address-location {
    margin: 20px 0 20px 0;
  }

  .address-location :before {
    content: "\25B6";
  }

  .google_map {
    border: solid 5px #33bcef;
    width: 600px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
  }
}
